<h1>Установите пароль</h1>
<%= form_tag password_reset_path do %>

  <table>
    <tr>
    <td><%= label_tag t('helpers.label.password_require.password') %></td>
    <td><%= password_field_tag :password %></td>
    </tr>
    <tr>
      <td><%= label_tag t('helpers.label.password_require.password_require') %></td>
      <td><%= password_field_tag :password_require %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "Установить" %></td>
    <tr>
    </table>
<%end%>
