<h1><%= I18n.t 'sing_up' %></h1>

<% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<%= form_for @user, url: users_admin_index_path do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.submit %>
<%end%>
