<h1>Панель управления</h1>

  <% if admin? %>
  <p><%= link_to 'Регистрация пользователя', new_user_path %></p>
  <p><%= link_to 'Список пользователей', users_path %></p>
  <p><%= link_to 'Отчет', statistic_path %></p>
  <% else %>
  <p><%= link_to 'Ввести показания', new_indicate_path %></p>
  <% end %>
<p>
<% if login? %>
<%= link_to 'Выход', logout_path %>
<% else %>
<%= link_to 'Вход', login_path %>
<%= link_to 'Регистрация для админов', new_users_admin_path %>
<% end %>
</p>
